apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - deployment.yaml
  # - configmap.yaml # Commented out for now as the token method is simpler for existing setups
