apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudflare

generatorOptions:
  disableNameSuffixHash: true

resources:
  - namespace.yaml
  - secret.yaml
  - deployment.yaml

configMapGenerator:
  - name: cloudflared-config
    files:
      - config.yaml
